@import 'colors.css';

/* 後台樣式 */
@import 'admin.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* todo TailGrids */
/* css 使用方法 var(--color-primary) */
/* Tailwind 使用方法 bg-[var(--color-primary)] */

body {
  font-family: 'Noto Sans TC', sans-serif;
  color: var(--color-text-primary);
}

input:-webkit-autofill {
  background: transparent;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: unset;
}

/* 共用消樣式 */
input:focus-visible {
  outline: none;
}

select:focus-visible {
  outline: none;
}

textarea:focus-visible {
  outline: none;
}

/* ? 彈窗 Modal */

.modal-bg {
  @apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-40 p-5;
}

.modal-box {
  @apply max-h-full min-w-full overflow-auto rounded-lg bg-white p-8 md:min-w-[580px];
}

/* .modal-top {
  @apply mb-12 flex items-center justify-between;
} */

.modal-title {
  @apply text-[24px] font-medium;
}

/* .modal-footer {
  @apply mt-12;
} */

/* modal transition 動畫設置  */
.modal-enter-active,
.modal-leave-active {
  transition: all 0.5s ease;
}
.modal-enter-from {
  opacity: 0;
  transform: translateY(-20px);
}

.modal-enter-to {
  opacity: 1;
  transform: translateY(0);
}

.modal-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.modal-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}
