@import 'colors.css';

/* 後台樣式 */
@import 'admin.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* todo TailGrids */
/* css 使用方法 var(--color-primary) */
/* Tailwind 使用方法 bg-[var(--color-primary)] */

body {
  font-family: 'Noto Sans TC', sans-serif;
  color: var(--color-text-primary);
}

/* 共用消樣式 */
input:focus-visible {
  outline: none;
}

select:focus-visible {
  outline: none;
}

textarea:focus-visible {
  outline: none;
}
