@tailwind base;
@tailwind components;
@tailwind utilities;

/* todo TailGrids */
/* css 使用方法 var(--color-primary) */
/* Tailwind 使用方法 bg-[var(--color-primary)] */
:root {
  --color-primary: #ea580c;
  --color-primary-dark: #e1580e;
  --color-primary-light: #fa6c23;

  --color-orange1: #f59460; /* orange light */
  --color-orange2: #f8b490;
  --color-orange3: #fbd5c0;
  --color-orange4: #fde5d8;
  --color-orange5: #fff0e9;

  --color-secondary: #255c99;
  --color-secondary-dark: #1c3fb7;
  --color-secondary-light: #5284bc;

  --color-blue2: #5595dc;
  --color-blue3: #6babf3;
  --color-blue4: #a1ceff;
  --color-blue5: #e3e8fa;

  --color-success: #005c69;
  --color-danger: #db2955;

  --color-dark1: #292524;
  --color-dark2: #44403c;
  --color-dark3: #57534e;
  --color-dark4: #78716c;
  --color-dark5: #a8a29e;
  --color-dark6: #d6d3d1;
  --color-dark7: #e7e5e4;
  --color-dark8: #f5f5f4;

  --color-gray: #aaaaaa;
  --color-gray1: #f9fafb;
  --color-gray2: #f3f4f6;
  --color-gray3: #e5e7eb;
  --color-gray4: #dee2e6;
  --color-gray5: #ced4da;

  --color-white: #ffffff;

  --color-text-primary: #292524;
  --color-text-secondary: #7d7d7d;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  color: var(--color-text-primary);
}

/* 共用消樣式 */
input:focus-visible {
  outline: none;
}

select:focus-visible {
  outline: none;
}

textarea:focus-visible {
  outline: none;
}

/* todo 通用 */
.pic-auto {
  width: 100%;
  height: 100%;
  /* vertical-align: top; */
  object-fit: cover;
}

.hover-auto {
  @apply transition-all duration-200 ease-in-out;
}

/* todo 後台樣式 */

/* ? 標題 */
.admin-page-title {
  @apply mb-[28px] text-[24px] font-semibold;
}

.admin-page-block {
  @apply w-full bg-white px-10 py-8;
}

.admin-block-title {
  @apply mb-6 text-[14px] font-bold;
}

.admin-block {
  @apply rounded-[8px] bg-white;
}

/* ? 輸入框 input */
.row-input {
  @apply flex items-center gap-8;
}

.row-input-title {
  @apply w-20 min-w-20 font-medium;
}

.row-input-title-area {
  @apply mt-1 w-20 min-w-20 self-start font-medium;
}

.admin-input {
  @apply w-full rounded-[8px] border border-[#AAAAAA] px-3 py-2 font-medium;
}

.admin-input::placeholder {
  color: #aaaaaa;
}

.admin-input-error {
  @apply border-[var(--color-danger)];
}

.admin-input-error-note {
  @apply mt-[2px] text-[12px] text-[var(--color-danger)];
}

.admin-input-disabled {
  @apply border-[#8899A8] bg-[#EBEBEB] text-[#AAAAAA];
}

/* ? 下拉選單 Select */
.admin-select {
  @apply w-full rounded-lg border border-text-secondary bg-white px-3 py-2;
}

/* ? 按鈕 btn */

/* 黑底白字 w-full */
.btn-black {
  @apply w-full rounded-[4px] bg-black py-2 text-white;
}

/* 不可選取 w-full */
.btn-disabled {
  @apply w-full cursor-not-allowed rounded-[4px] bg-[var(--color-gray3)] py-2 text-[#AAAAAA];
}

/* 橘邊橘字 inline */
.btn-orange-outline {
  @apply rounded-[8px] border border-[var(--color-primary)] px-4 py-2 text-[var(--color-primary)];
}

/* 橘底白字 inline */
.btn-orange {
  @apply rounded-[8px] bg-[var(--color-primary)] px-4 py-2 font-medium text-white;
}

.btn-orange-icon {
  @apply flex items-center gap-2;
}

/* ? 彈窗 Modal */

.modal-bg {
  @apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-40 px-5;
}

.modal-box {
  @apply min-w-full bg-white p-8 md:min-w-[520px];
}

.modal-top {
  @apply mb-12 flex items-center justify-between;
}

.modal-title {
  @apply text-[24px] font-medium;
}

.modal-footer {
  @apply mt-12;
}

/* ? 表格 Table */
.table-block {
  @apply w-full overflow-x-auto bg-white;
}

.table-header {
  @apply grid gap-2 bg-primary px-8 py-3 text-white;
}

.table-body {
  @apply grid gap-2 px-8 py-6;
}

.table-th-icon {
  @apply flex cursor-pointer items-center gap-1;
}

/* ? 麵包屑 Breadcrumbs */

.admin-breadcrumbs {
  @apply mb-7 flex items-center gap-3 text-gray;
}
